MASTERCAM CONFIGURATION FILE

[UNITS]
1. File is metric? n
2. File version? 20.74
3. cfg version? 110

[TOLERANCES]
1000. System tolerance? 0.00005000
1001. Chaining tolerance? 0.00010000
1002. Planar chaining tolerance? 0.00200000
1003. Minimum arc length? 0.00020000
1004. Curve minimum step size? 0.00100000
1005. Curve maximum step size? 100.00000000
1006. Curve chordal deviation? 0.00100000
1007. Maximum surface deviation? 0.00100000
1008. Toolpath tolerance? 0.00010000

[FILES]
2007. Include bitmap in file when saving? y
2008. Prompt for file descriptor when saving? n
2009. Delete duplicate entities in File, Open? n
2010. Restore entire toolpath data in File, Open? y
2011. Number of files/folders to show in MRU fields? 10
2012. Block library? 
2019. Use default Data paths? n
2020. Default file open type? -1
2101. ASCII files (txt, csv, doc)? <APP_DIR_USER>data\
2102. Batch files (bch)? <APP_DIR_USER>batch\
2103. Cadkey CADL files (cdl)? <APP_DIR_USER>data\
2104. Catia V4 files (exp, model)? <APP_DIR_USER>data\
2105. Catia V5 files (catpart, catproduct)? <APP_DIR_USER>data\
2106. Custom Add-in (dll)? <APP_DIR_INSTALL>chooks\
2107. AutoCAD Files (dwg, dxf, dwf)? <APP_DIR_USER>data\
2109. Mastercam Parts (mcam, emcam)? <APP_DIR_USER>Parts\
2110. IGES files (igs, iges)? <APP_DIR_USER>data\
2111. Parasolid files (x_t, x_b, xmt_txt)? <APP_DIR_USER>data\
2112. ProE/Creo files (prt, asm)? <APP_DIR_USER>data\
2113. Regen files (rgn)? <APP_DIR_TEMP_ROOT>regen\
2114. Rhino files (3dm)? <APP_DIR_USER>data\
2115. ACIS Kernel SAT files (sat, sab)? <APP_DIR_USER>data\
2116. STEP files (stp, step)? <APP_DIR_USER>data\
2117. STL files (stl)? <APP_DIR_USER>data\
2118. Temporary files root? <WINTEMPDIR>
2119. Unigraphics files (prt)? <APP_DIR_USER>data\
2120. VB Scripts (vbs)? <APP_DIR_SHARED>VB\
2121. VDA files (vda)? <APP_DIR_USER>data\
2122. Parameter files (prm)? <APP_DIR_SHARED>common\prm\
2123. Backup files (Mastercam format)? <APP_DIR_USER>Parts\
2124. Edit/Open External Files (* *)? 
2125. SOLIDWORKS files (sldprt, sldasm)? <APP_DIR_USER>data\
2126. SOLIDWORKS Drawing Files (slddrw)? <APP_DIR_USER>data\
2127. SolidEdge files (par, psm, asm)? <APP_DIR_USER>data\
2128. Autodesk Inventor files (ipt, iam)? <APP_DIR_USER>data\
2129. Autodesk Inventor Drawing Files (idw)? <APP_DIR_USER>data\
2130. PostScript files (eps, ai, ps)? <APP_DIR_USER>data\
2131. HPGL Plotter files (plt)? <APP_DIR_USER>data\
2132. mc9 Files (mc9)? <APP_DIR_USER>Parts\
2133. MC8 Files (MC8)? <APP_DIR_USER>Parts\
2134. KeyCreator Files (ckd)? <APP_DIR_USER>data\
2135. SpaceClaim Files (scdoc)? <APP_DIR_USER>data\
2136. Alibre/Geomagic Design Files (ad_prt, ad_smp)? <APP_DIR_USER>data\
2137. Mastercam Previous X Version Parts (mcx-9, mcx-8, mcx-7, mcx, emcx-8, emcx-7, emcx)? <APP_DIR_USER>Parts\
2138. Mill Formula Files ( Formula)? <APP_DIR_SHARED>Mill\Formula\
2150. Apply last machine definition? y
2151. FBM Tool Table Files? <APP_DIR_SHARED>common\fbm\
2152. User Data Folder? <APP_DIR_USER>
2153. Shared Data Folder? <APP_DIR_SHARED>
2202. Mill NC programs (nc)? <APP_DIR_USER>Mill\NC\
2203. Mill Toolpaths (nci)? <APP_DIR_USER>Mill\NCI\
2212. Lathe NC programs (nc)? <APP_DIR_USER>Lathe\NC\
2213. Lathe Toolpaths (nci)? <APP_DIR_USER>Lathe\NCI\
2222. Router NC programs (nc)? <APP_DIR_USER>Router\NC\
2223. Router Toolpaths (nci)? <APP_DIR_USER>Router\NCI\
2232. Wire NC programs (nc)? <APP_DIR_USER>Wire\NC\
2233. Wire Toolpaths (nci)? <APP_DIR_USER>Wire\NCI\
2301. Mill Tool Library? <APP_DIR_SHARED>Mill\Tools\Mill_Inch.tooldb
2302. Mill Operation Library? <APP_DIR_SHARED>Mill\Ops\Mill_Inch.mcam-operations
2303. Mill Defaults Library? <APP_DIR_SHARED>Mill\Ops\Mill_Inch.mcam-defaults
2304. Mill Material Library? <APP_DIR_SHARED>Materials\Default.mcam-materials
2305. Mill Post Processor (PST)? <APP_DIR_SHARED>Mill\Posts\MPFan.pst
2306. Mill Post Processor (EXE)? <APP_DIR_INSTALL>Apps\MP.dll
2307. Mill Setup Sheet Template? <APP_DIR_SHARED>Mill\Posts\Mill.set
2351. Lathe Tool Library? <APP_DIR_SHARED>Lathe\Tools\Lathe_Inch.tooldb
2352. Lathe Operation Library? <APP_DIR_SHARED>Lathe\Ops\Lathe_Inch.mcam-operations
2353. Lathe Defaults Library? <APP_DIR_SHARED>Lathe\Ops\Lathe_Inch.mcam-defaults
2354. Lathe Material Library? <APP_DIR_SHARED>Materials\Default.mcam-materials
2355. Lathe Post Processor (PST)? <APP_DIR_SHARED>Lathe\Posts\MPLFan.pst
2356. Lathe Post Processor (EXE)? <APP_DIR_INSTALL>Apps\MP.dll
2357. Lathe Setup Sheet Template? <APP_DIR_SHARED>Lathe\Posts\Lathe.set
2401. Router Tool Library? <APP_DIR_SHARED>Router\Tools\Router_Inch.tooldb
2402. Router Operation Library? <APP_DIR_SHARED>Router\Ops\Router_Inch.mcam-operations
2403. Router Defaults Library? <APP_DIR_SHARED>Router\Ops\Router_Inch.mcam-defaults
2404. Router Material Library? <APP_DIR_SHARED>Materials\Router.mcam-materials
2405. Router Post Processor (PST)? <APP_DIR_SHARED>Router\Posts\MPRouter.pst
2406. Router Post Processor (EXE)? <APP_DIR_INSTALL>Apps\MP.dll
2407. Router Setup Sheet Template? <APP_DIR_SHARED>Router\Posts\Router.set
2451. Wire Power Library? <APP_DIR_SHARED>Wire\Power\Wire_Inch.power
2452. Wire Operation Library? <APP_DIR_SHARED>Wire\Ops\Wire_Inch.mcam-operations
2453. Wire Defaults Library? <APP_DIR_SHARED>Wire\Ops\Wire_Inch.mcam-defaults
2454. Wire Material Library? <APP_DIR_SHARED>Materials\Default.mcam-materials
2455. Wire Post Processor (PST)? <APP_DIR_SHARED>Wire\Posts\MPWFanuc.pst
2456. Wire Post Processor (EXE)? <APP_DIR_INSTALL>Apps\MP.dll
2457. Wire Setup Sheet Template? <APP_DIR_SHARED>Wire\Posts\Wire.set
2501. Default Component Library? <APP_DIR_SHARED>CNC_Machines\All Components.mcam-gmd
2502. Default Control Definition? <APP_DIR_SHARED>CNC_Machines\Default.mcam-control

[AUTOSAVE / BACKUP]
24000. AutoSave? n
24001. Interval (in minutes)? 60
24002. File name? <APP_DIR_USER>Parts\T.mcam
24003. Save using active file name? y
24004. Overwrite existing file name? n
24005. Prompt before saving file? y
24006. Save after every operation? n
24007. Mastercam Backup Files? n
24008. Delimiter? (((@)))
24009. Start? 100
24010. Increment? 1
24011. Max Limit? 10
24012. Use backup directory as defined in Files? y

[CONVERTERS]
3000. Edge curves? n
3001. Attempt to heal solids during import? n
3002. Untrimmable surface level? 10000
3003. Solids? y
3004. SaveAs Parasolid? 291
3005. SaveAs ACIS? 260
3006. ASCII file entity creation? 0
3007. Blank "Paper Space" entities in DWG / DXF files? y
3008. Break DWG / DXF Drafting Entities? n
3009. Use IGES files tolerance values? n
3010. Unit conversion? y
3011. Use surface stitching to import Solids? n
3012. ASCII? n
3013. Resolution? 0.00100000
3014. Coordinates? n
3015. SaveAs AutoCAD? 0
3016. Import Datum entiities from ProE/Creo files? n
3017. Import SOLIDWORKS Solids History? n
3018. Import Mastercam Toolpaths from SOLIDWORKS files? y
3019. STL Import entities? n
3020. Use System Color for imported Solids? n
3021. Import sketches from SOLIDWORKS files? n
3022. Assign Level names to match Solid names? y

[SCREEN]
4001. Allow pre-selection? y
4021. Use MRU in drop-down menu bars? y
4022. Enable MRU Toolbar? y
4023. Number of functions in the MRU menu? 10
4024. Draw thread/cut symbols? y
4025. Draw stop/info/regs symbols? y
4026. Zoom Factor? 0.06250000
4027. Unzoom Factor? 0.06250000
4028. Pan Factor? 0.06250000
4029. Rotate Factor? 5.00000000
4032. Display level name? n
4035. Number of items in MRU data fields? 10
4036. Auto-highlight? y
4037. Solids by faces? y
4040. Report toolpath error messages to? 1
4042. Include immediate mode functions? y
4043. Auto-highlight delay index? 0
4048. Temporary midpoints delay? 1
4052. Display toolpaths? y
4053. Use stipple on solids/surfaces? y
4054. Text unavailable? 33
4055. Scale display gnomons and text? 1.00000000
4056. Use dashed on wireframe? y

[GRID SETTINGS]
23002. Snap? 2
23003. X? 0.25000000
23004. Y? 0.25000000
23005. X? 0.00000000
23006. Y? 0.00000000
23007. Size? 25.00000000

[ANALYZE]
29000. Precision for Analyze Measurements Fractions? 5
29001. Precision for Analyze Measurements? 4
29002. Units for Analyze Measurements? 1
29003. Number of places after decimal for analyze? 4

[COLORS]
5000. Auto-highlight? 15
5001. System origin? 156
5002. Construction origin? 10
5003. Default groups? 12
5004. Draft dirty? 4
5005. Draft phantom? 8
5006. Edge motion? 9
5007. Background (gradient start)? 111
5009. Background gradient end? 15
5010. Group? 12
5011. Lathe - Bad stock? 144
5012. Lathe - Chuck? 109
5014. Lathe - Holder? 116
5016. Lathe - Insert DOWN? 138
5018. Lathe - Insert UP? 14
5020. Lathe - Steadyrest? 40
5022. Lathe - Stock? 103
5024. Lathe - Tailstock? 178
5026. Live entity? 39
5027. Wireframe geometry? 1
5028. Mill / Router - Safezone? 5
5029. Mill / Router - Stock? 12
5030. Raw cut motion? 8
5031. Result? 13
5032. Grid? 8
5033. Selection? 14
5034. Solid chaining edge? 9
5035. Solid chaining face loop? 12
5036. Surface back side? 65
5037. Surface motion? 12
5038. Tool origin? 11
5041. Gradient background direction? 1
5043. Use group's color? n
5044. Use Group and Result color in Xform? y
5045. Toolpath feed motion? 159
5046. Toolpath rapid motion? 14
5049. Locked field? 12
5050. Calculable field? 18
5051. Mask only on? 12
5052. Solids? 8
5053. Surface front face? 136
5054. Surface edge? 0
5055. Plane WCS gnomon? 1
5056. WCS origin? 4
5057. Chain preview material region? 226
5058. Chain preview motion region? 208
5059. Chain preview tool containment? 55
5060. Chain preview material crosshatch? 0
5061. Mill - Tool holder? 162
5062. Mill - Tool shank? 156
5063. Mill - Tool shoulder? 103
5064. Mill - Tool cutting? 55
5065. Mill - Imported tool cutting? 3
5066. Selection window? 197
5067. Avoidance geometry? 12
5068. Machining geometry? 10
5069. Remainder? 15

[CHAINING]
6000. Zigzag? y
6001. Direction for closed chains? 1
6002. Use cursor position? y
6003. Ignore depths (in 3D mode)? n
6004. Infinite nesting in area chains? n
6005. Reverse inner chains? n
6006. Nested chains? 0
6007. Break entities in Dynamic? n
6008. Sync mode? 0
6009. Set start of chain from point entities? n
6010. Break closest entity to thread point? n
6011. Section angle? 30.00000000
6012. Open chains? y
6013. Closed chains? y
6014. Default chaining mode? 1
6015. Plane mask in chaining? n
6016. Ignore depths in 3D chaining? n
6017. Section angle? n
6018. Use Color Masking? n
6019. Use Level Masking? n
6020. Default to last mode used? n
6021. Mode? n
6022. Mode? 1
6023. Wait? n
6024. Prompt for window start point? y
6025. Use Entity Masking? n
6026. Allow surface edges in single mode? n
6027. Spin? n
6028. Upper? 1
6029. Small? 2
6030. Translucent? n
6800. Identical? 0
6801. Shape Perimeter filter? 0
6802. Scaled Shapes? 0
6803. Attribute Matching? 0
6804. Color? 0
6805. Level? 0
6806. View? 0
6807. Style? 0
6808. Width? 0
6809. Match Color? 1
6810. Match Level? 1
6811. Line Style? 1
6812. Line Width? 1
6813. Recognize mirrored shapes? 0
6814. All? 0

[SHADING]
7004. Chord height? 0.00100000
7146. Lighting mode? 0
7147. Show STL edges? y
7148. Edge angle tolerance? 28.00000000
7149. Show hidden edges as dashed? n
7150. Dimmed wireframe opacity? 25

[SOLIDS]
8000. Add new operations before trailing toolpath operations? y
8001. Add new operations before trailing toolpath operations? y
8002. Use all visible surfaces? y
8003. Edge tolerance? 0.00500000
8004. Use main level? y
8005. Level number? 1000
8006. Original surface? 2
8022. Tessellation? 5
8024. Hidden dim factor? 66
8025. Hidden color? 10
8026. Color? 10
8027. Outlined edge color? 0
8028. Radial angle (in degrees)? 60.00000000
8029. Omit smooth edges? n
8030. Omit internal edges? n
8031. Use surface colors? y
8032. Line style? 2
8033. Line width? 1.00000000
8034. Solid preview on by default? y

[PRINTING]
9001. Color? y
9002. Name/Date? n
9003. Line width? 0
9004. Uniform line width? 1
9005. Color? 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
9006. Line width? 1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
9007. Dashed line scaling? 100
9008. Screen Information? y

[CAD SETTINGS]
10000. Line style? 1
10001. Line width? 1.00000000
10002. Point style? 1
10003. Type of center line? 0
10004. Color? y
10005. Color? 10
10006. Level? y
10007. Level? 1
10008. Style? n
10009. Style? 3
10010. % of diameter? y
10011. % of diameter? 125.00000000
10012. Fixed length? 1.00000000
10013. Spline/surface creation type? y
10014. Spline/surface creation type? 2
10015. Surface drawing density? 1
10019. Check for duplicate entities (slower)? n
10021. Check for duplicate entities (slower)? 0
10022. IGES Dump? 0
10023. IGES Dump  Start? 1
10024. Copious Data to Geometry? y
10025. IGES cr lf? y
10026. Preview? y
10027. Maintain? y
10028. Fit? n
10100. Use X3 Fillet Surface Creation? n
10029. EA Manager Active? n
10030. EA Mgr Active in File-Open? n
10031. Enable trim preview? y
10041. Points - Use Level? n
10042. Points - Level? 1
10043. Points - Use Color? n
10044. Points - Color? 1
10045. Points - Use Style? n
10046. Points - Style? 1
10047. Points - Use Width? n
10048. Points - Width? 1
10051. Lines - Use Level? n
10052. Lines - Level? 1
10053. Lines - Use Color? n
10054. Lines - Color? 1
10055. Lines - Use Style? n
10056. Lines - Style? 1
10057. Lines - Use Width? n
10058. Lines - Width? 1
10061. Arcs - Use Level? n
10062. Arcs - Level? 1
10063. Arcs - Use Color? n
10064. Arcs - Color? 1
10065. Arcs - Use Style? n
10066. Arcs - Style? 1
10067. Arcs - Use Width? n
10068. Arcs - Width? 1
10071. Parametric Splines - Use Level? n
10072. Parametric Splines - Level? 1
10073. Parametric Splines - Use Color? n
10074. Parametric Splines - Color? 1
10075. Parametric Splines - Use Style? n
10076. Parametric Splines - Style? 1
10077. Parametric Splines - Use Width? n
10078. Parametric Splines - Width? 1
10081. NURBS curves - Use Level? n
10082. NURBS curves - Level? 1
10083. NURBS curves - Use Color? n
10084. NURBS curves - Color? 1
10085. NURBS curves - Use Style? n
10086. NURBS curves - Style? 1
10087. NURBS curves - Use Width? n
10088. NURBS curves - Width? 1
10091. Surface curves - Use Level? n
10092. Surface curves - Level? 1
10093. Surface curves - Use Color? n
10094. Surface curves - Color? 1
10095. Surface curves - Use Style? n
10096. Surface curves - Style? 1
10097. Surface curves - Use Width? n
10098. Surface curves - Width? 1
10101. Surfaces - Use Level? n
10102. Surfaces - Level? 1
10103. Surfaces - Use Color? n
10104. Surfaces - Color? 1
10105. Surfaces - Use Style? n
10106. Surfaces - Style? 1
10107. Surfaces - Use Width? n
10108. Surfaces - Width? 1
10111. Notes/Labels - Use Level? n
10112. Notes/Labels - Level? 1
10113. Notes/Labels - Use Color? n
10114. Notes/Labels - Color? 1
10115. Notes/Labels - Use Style? n
10116. Notes/Labels - Style? 1
10117. Notes/Labels - Use Width? n
10118. Notes/Labels - Width? 1
10121. Leaders/Witness - Use Level? n
10122. Leaders/Witness - Level? 1
10123. Leaders/Witness - Use Color? n
10124. Leaders/Witness - Color? 1
10125. Leaders/Witness - Use Style? n
10126. Leaders/Witness - Style? 1
10127. Leaders/Witness - Use Width? n
10128. Leaders/Witness - Width? 1
10131. Dimensions - Use Level? n
10132. Dimensions - Level? 1
10133. Dimensions - Use Color? n
10134. Dimensions - Color? 1
10135. Dimensions - Use Style? n
10136. Dimensions - Style? 1
10137. Dimensions - Use Width? n
10138. Dimensions - Width? 1
10141. Cross Hatches - Use Level? n
10142. Cross Hatches - Level? 1
10143. Cross Hatches - Use Color? n
10144. Cross Hatches - Color? 1
10145. Cross Hatches - Use Style? n
10146. Cross Hatches - Style? 1
10147. Cross Hatches - Use Width? n
10148. Cross Hatches - Width? 1
10151. Copious Data - Use Level? n
10152. Copious Data - Level? 1
10153. Copious Data - Use Color? n
10154. Copious Data - Color? 1
10155. Copious Data - Use Style? n
10156. Copious Data - Style? 1
10157. Copious Data - Use Width? n
10158. Copious Data - Width? 1
10161. Solids - Use Level? n
10162. Solids - Level? 1
10163. Solids - Use Color? n
10164. Solids - Color? 1
10165. Solids - Use Style? n
10166. Solids - Style? 1
10167. Solids - Use Width? n
10168. Solids - Width? 1
10200. Xform Box Preview - Enabled? y
10201. Xform Box Preview - Activation Weight? 1000
10202. Xform Box Preview - Weight of Solid? 1000
10203. Xform Box Preview - Weight of Surface? 50
10204. Xform Box Preview - Weight of Spline? 10
10205. Xform Box Preview - Weight of Entity? 1

[DIMENSION ATTRIBUTES]
11000. Angular? 0
11001. DIN character? 72
11002. Tolerance? n
11003. DIN value? 7
11004. Center text between arrowheads? n
11005. Comma? n
11006. Format? 0
11007. Tolerance? 0
11008. Tolerance? 0
11009. Diameter? 0
11010. Scale? 1.00000000
11011. Fractional units? 0
11012. Leading zeroes? y
11013. DIN character? 72
11014. Tolerance? n
11015. DIN value? 7
11016. Lower? -0.00050000
11017. Lower? -0.00050000
11018. Decimal places? 3
11019. Decimal places? 2
11020. Upper? 0.00050000
11021. Upper? 0.00050000
11022. Radius? 0
11023. Trailing zeroes? y

[DIMENSION TEXT]
12000. Aspect ratio? 0.50000000
12001. Rotation? 0.00000000
12002. Display in SmartMode? n
12003. Font? 0
12004. Text orientation? 1
12005. Text height? 0.25000000
12006. Extra char spacing? 0.20000000
12007. Font? 0
12008. Display negative sign? n
12009. Absolute? n
12010. 3D label? y
12011. 3D? n
12012. Angle? 0.00000000
12013. Lines? 0
12014. Path? 0
12015. Slant? 0.00000000
12016. Tolerance height? 0.12500000
12017. Factors? 1.00000000
12018. Factors? 0.33300000
12019. Factors? 0.50000000
12020. Factors? 0.37500000
12021. Factors? 0.50000000
12022. Spacing? 1
12023. Char width factor? 0.50000000
12024. Font name? Stick
12025. Font italics? n
12026. Font bold? n
12027. Use factors? 1

[NOTE TEXT]
13000. Extra line spacing? 0.21570000
13001. Extra char spacing? 0.20000000
13002. Horizontal? 0
13003. Mirror? 0
13004. Aspect ratio? 0.50000000
13005. Rotation? 0.00000000
13006. Font? 0
13007. Lines? 0
13008. Path? 0
13009. Slant? 0.00000000
13010. Spacing? 1
13011. Text height? 0.25000000
13012. Vertical? 3
13013. Factors? 1.00000000
13014. Factors? 0.33300000
13015. Char width factor? 0.50000000
13016. Font name? Stick
13017. Font italics? n
13018. Font bold? n
13019. Angle? 0.00000000
13020. Use factors? 1

[LEADERS / WITNESS]
14000. Height? 0.25000000
14001. Width? 0.08325000
14002. Arrow direction? 0
14003. Style? 0
14004. Visible leaders? 3
14005. Leader style? 0
14006. Style? 0
14007. Visible witness lines? 3
14008. Height? 0.25000000
14009. Width? 0.08325000
14010. Apply to ordinate dimensions? y
14011. Add tail to angular leaders? n
14012. Witness extension? 0.12500000
14013. Witness gap? 0.09375000

[DIMENSION SETTINGS]
15000. Baseline increments? y
15001. X? 0.25000000
15002. Y? 0.25000000
15003. Associate dimensions, labels, leaders and witness lines with the geometry selected during their creation? y
15004. Associativity rules for the entire drawing? 0
15005. Automatic? y
15006. Mark regenerated entities as System Result? n
15007. entity view equals graphics view? y
15008. Greeking enabled? y

[START / EXIT]
16000. Language? 0
16002. Default Mastercam file name? T
16006. Editor? MASTERCAM
16008. Construction plane? 0
16009. Construction plane? y
16010. Startup? NONE
16011. Exit? NONE
16012. Default? FINDOVERLAP.dll
16013. Limit the number of Undo events? n
16014. Number of events? 100
16015. Not to exceed this size? 10
16016. Prompt when exiting? y
16017. Startup product? 3

[TOOLPATHS]
17007. Keep regen files larger than (MB)? 1
17008. Keep regen files not older than (days)? 7
17009. Keep regen files that took more  time to create than (minutes)? 5
17010. Delete regen files on exit? y
17011. Keep regen files larger than (MB)? n
17012. Keep regen files not older than (days)? y
17013. Keep regen files that took more  time to create than (minutes)? n
17014. Suppress associativity warning messages? n
17015. Use existing tools when importing operations? y
17016. Display surface/plane intersections? y
17017. CAD file? n
17018. Containment? 0
17019. Toolpath/surface selection? 1
17020. Memory buffering? 50
17021. Use Wire Preview? n
17022. Setup Sheet program? ActiveReports
17023. Show toolpath/surface selection dialog? 1
17024. Wire? y
17025. Automatically calculate HST defaults? y
17026. Enable Multi-threading? y
17027. Lock Feedrates? y
17028. Get defaults from previous operation? y

[POST DIALOG DEFAULTS]
18000. Save NCI? n
18001. Overwrite? n
18002. Edit? n
18003. Save NC? y
18004. Overwrite? n
18005. Edit? y
18006. Send to machine? n
18007. Output part file descriptor? n
18008. Export operations list? n
18009. Export parameters? n
18010. Tplanes relative to WCS? y
18011. NC extension? .nc
18012. Save Mori? y
18013. Overwrite? y
18014. Edit? n
18015. Drill cycles? y

[BACKPLOT]
19000. Appearance? 2
19001. Text unavailable? n
19002. Text unavailable? 102
19003. Text unavailable? 0
19004. Text unavailable? y
19005. Text unavailable? n
19006. Text unavailable? n
19007. Text unavailable? 12
19008. Text unavailable? 0
19010. By operation? y
19011. Use Verify color? n
19013. Rapid color? 14
19014. Linear feed color? 159
19015. CW Arc feed color? 159
19016. CCW Arc feed color? 159
19017. Verify color? 138
19018. 4-5 Axis vector color? 11
19019. 4-5 Axis tool vectors? n
19020. Connect Bottom? y
19021. Connect Top? n
19022. Shade? n
19023. Length? y
19024. Length? 1.00000000
19025. Fast steps/sec? 10
19026. Operation change? n
19027. Tool change? n
19028. Fit Toolpath? n
19029. Simulate Cutter Compensation? y
19030. Show Mill / Router Home Position? n
19031. Simulate Axis Substitution? y
19032. Simulate Rotary Axis? n
19033. Toggles? 0
19034. Interpolate? n
19035. Step increment? 0.05000000
19036. Speed? 60
19037. Show Lathe Home Position? y
19038. Show C-Axis tools in top orientation? n
19039. Text unavailable - Text unavailable? 0.50000000
19040. Text unavailable - Text unavailable? 0.50000000

[WIRE BACKPLOT]
20001. By pass? 0
20003. Rapid color? 14
20004. XY Linear feed color? 11
20005. XY CW Arc feed color? 11
20006. XY CCW Arc feed color? 11
20007. UV Linear feed color? 13
20008. UV CW Arc feed color? 13
20009. UV CCW Arc feed? 13
20010. Fast steps/sec? 10
20011. Each pass? n
20012. Each operation? n
20013. Fit Wirepath? n
20014. Simulate Wire Compensation? y
20015. Show move from Start position? y
20016. Toggles? 0
20017. Endpoints? n
20018. Step increment? 0.05000000
20019. Speed? 60
20020. Show wire comp vectors? n
20021. Comp Vector color? 26
20022. Display UV motion? y
20023. Display XY-UV connectors? y
20024. Wire color? 15
20025. Appearance? 2
20026. Material? n
20027. Guide color? 12
20028. Material? 0
20029. Opacity  - Active? 0.50000000
20030. Offset path color? 86
20031. XY-UV connector color? 7

[COMMUNICATIONS]
27000. Comm  default? 0
27001. Handshaking? 1
27002. Baud rate? 9600
27003. EOL delay? 0
27004. Override Control Definition communications settings? n
27005. Format? 65
27006. Parity? 78
27007. Port? 1
27008. Data bits? 8
27009. Stop bits? 1
27010. Strip carriage return? n
27011. Strip line feed? n
27012. Echo terminal emulation? y
27013. Diaplay to screen? n
27014. DOS communications mode? n

[TOOLPATH MANAGER]
22000. Machine Group - Prompt? 0
22001. Machine Group? 2
22002. Machine Group? Machine Group
22003. Machine Group - Delimiter? (((-)))
22004. Machine Group - Increment start? 1
22005. Machine Group - Increment value? 1
22006. Toolpath Group - Prompt? 0
22007. Toolpath Group? 2
22008. Toolpath Group? Toolpath Group
22009. Toolpath Group - Delimiter? (((-)))
22010. Toolpath Group - Increment start? 1
22011. Toolpath Group - Increment value? 1
22012. NC File - Prompt? 0
22013. NC File? 0
22014. NC File? 0
22015. NC File? NC Group
22016. NC File? 0
22017. NC File - Delimiter? (((-)))
22018. NC File - Increment start? 1
22019. NC File - Increment value? 1

[DEFAULT MACHINES]
25000. Mill Machine Definition? <APP_DIR_SHARED>CNC_Machines\Mill Default.mcam-mmd
25001. Lathe Machine Definition? <APP_DIR_SHARED>CNC_Machines\Lathe Default.mcam-lmd
25002. Router Machine Definition? <APP_DIR_SHARED>CNC_Machines\Router Default.mcam-rmd
25003. Wire Machine Definition? <APP_DIR_SHARED>CNC_Machines\Wire Default.mcam-wmd

[VIEWSHEETS]
30000. 2D / 3D? y
30001. Gview? y
30002. Planes? y
30003. Toolplanes? y
30004. Construction Planes? y
30005. Z Depth? y
30006. WCS? y
30007. Colors? y
30008. Active Level? y
30009. Line Style? y
30010. Point Style? y
30011. Line Width? y
30012. Surface Density? y
30013. Enable All? y
30014. Automatically restore bookmark settings? y

[REPORTS]
31000. SETUP SHEET (MILL)? SETUP SHEET (MILL)
31001. SETUP SHEET (LATHE)? SETUP SHEET (LATHE)
31002. SETUP SHEET (ROUTER)? SETUP SHEET (ROUTER)
31003. SETUP SHEET (WIRE)? SETUP SHEET (WIRE)
31004. DEFAULT NESTING REPORT? DEFAULT NESTING REPORT
31005. DEFAULT ATP REPORT? DEFAULT ATP REPORT
31006. TOOL LIST (MILL-SIMPLE)? TOOL LIST (MILL-SIMPLE)
31007. TOOL LIST (MILL-DETAILED)? TOOL LIST (MILL-DETAILED)
31008. TOOL LIST (LATHE-SIMPLE)? TOOL LIST (LATHE-SIMPLE)
31009. TOOL LIST (LATHE-DETAILED)? TOOL LIST (LATHE-DETAILED)
31010. MATERIAL LIST? MATERIAL LIST
31011. TOOL LIST (MILL-OPMGR)? TOOL LIST (MILL-OPMGR)
31012. TOOL LIST (LATHE-OPMGR)? TOOL LIST (LATHE-OPMGR)
31013. SETUP SHEET (MT)? SETUP SHEET (MT)
31014. TOOL LIST (OPMGR)? TOOL LIST (OPMGR)
31015. TOOL LIST (ROUTER-SIMPLE)? TOOL LIST (ROUTER-SIMPLE)
31016. TOOL LIST (ROUTER-DETAILED)? TOOL LIST (ROUTER-DETAILED)
31017. TOOL LIST (ROUTER-OPMGR)? TOOL LIST (ROUTER-OPMGR)
31020. Reports Folder? <APP_DIR_SHARED>Common\Reports\

[SPIN CONTROLS]
32000. Integer? 1
32001. Floating point? 0.10000000
32002. Angular? 1
32003. Integer? 1
32004. Floating point? 1.00000000
32005. Angular? 1

[VIEW SETTINGS]
33001. Number of entities for dynamic rotation? 10000
33002. Use 'free' mode in dynamic rotation? y
33003. Snap to views in dynamic rotation? n
33004. Snap tolerance (degrees)? 25.00000000
33005. Motion controller velocity? 0.30000000
33006. Animate view transitions? y
33007. Animate zoom fits? y
33008. Animation Delay? 2
33009. Middle button/wheel? n
33010. Reverse wheel? n
